.social-bar {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.left,
.right {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.vote-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    border-radius: 50px;
    border: 1px solid var(--button-stroke-rest);
}

.vote-wrapper button {
    border: 1px solid transparent;
}

.vote-break {
    height: 18px;
    width: 2px;
    border-radius: 12px;
    background-color: var(--button-stroke-rest);
}

.like {
    display: flex;
    gap: 2px;
}

.outline {
    fill: transparent;
    stroke: var(--font-1);
    stroke-width: 1.5px;
}

.upvote {
    color: var(--vote-blue);
}

button {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    touch-action: manipulation;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border: 1px solid var(--button-stroke-rest);
    background-color: transparent;
    transition: background-color 0.2s;
}

button svg {
    transition: all 0.2s;
}

button:focus-visible {
    outline: 2px solid var(--focus-blue);
}

button:not(:active):focus-visible {
    outline-offset: 0.3rem;
}

button:not(:active) {
    transition: all 0.4s ease-in-out;
}

button:active {
    background: var(--button-background-active);
    border-color: var(--button-stroke-active);
}

@media (prefers-reduced-motion: no-preference) {
    .underline:focus-visible span,
    a:focus-visible,
    button:focus-visible {
      transition: outline-offset 0.075s ease-out;
    }
  
    a:not(:active):focus-visible,
    button:not(:active):focus-visible {
      transition-duration: 0.2s;
    }
  
    button:active svg {
      transform: scale(0.8);
    }

    .like-anim {
      animation: like-anim 0.4s;
    }

    @keyframes like-anim {
        50% {
            transform: rotate(-10deg) translateY(-4px);
        }
    }
}